---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import WorkExperience from '../components/WorkExperience.astro';
import AcademyTraining from '../components/AcademyTraining.astro';
import ProjectPortfolio from '../components/ProjectPortfolio.astro';
import '../styles/basic.css';
---

<Layout title="Portfolio by luis122448", description="Portafolios de projectos de luis122448">
	<main class="main-container">
		<Header selectPage='home'></Header>
		<Presentation></Presentation>
		<WorkExperience isOpen={false}></WorkExperience>
		<AcademyTraining></AcademyTraining>
		<ProjectPortfolio isOpen={false}></ProjectPortfolio>
		<Footer></Footer>
	</main>
</Layout>