---
import ModelAcademy from "./model/ModelAcademy.astro";
import "../styles/basic.css";
---

<section>
  <h3 class="section-title">Formacion Academica</h3>
  <div id="indicators-carousel" class="relative w-full" data-carousel="static">
    <div class="relative h-72 overflow-hidden rounded-lg">
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <div class="grid grid-cols-2 gap-x-6 mb-6 mx-6">
          <ModelAcademy
            title="Bachiller en Ingenieria Industrial"
            subtitle="2017 - 2022"
            tags="Quinto Puesto"
            message="Egresado con honores de la Univ. Nacional Mayor de San Marcos, ocupando el 5to puesto de la promocion de Ingenieria Industrial"
            logo="/assets/image/unmsm-icon.png"
            skils={["SQL", "Java", "PL/SQL"]}
          />
          <ModelAcademy
            title="Especializacion Full Stack ( Java - Angular )"
            subtitle="Marzo 2023 - Mayo 2023"
            tags="Diploma de Excelencia"
            message="Especializacion Full Stack ( Java - Angular ) con un diploma de excelencia"
            logo="/assets/image/galaxy-training-logo.webp"
            skils={["Angular", "Java"]}
          />
        </div>
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="grid grid-cols-2 gap-x-6 mb-6 mx-6">
          <ModelAcademy
            title="Java Developer"
            subtitle="Febrero 2022 - Abril 2022"
            tags="Destacado"
            message="Especializacion en desarrollo de aplicaciones Java ( Escritorio y Web ) y el uso de JasperReport para la generacion de reportes"
            logo="/assets/image/uni-icon.png"
            skils={["Java", "JasperReport", "Hibernate", "JPA"]}
          />
          <ModelAcademy
            title="Diplomado en Business Intelligence, Analytics y Big Data"
            subtitle="Junio 2022 - Diciembre 2022"
            tags="Nota Maxima"
            message="Diplomado de Especializacion en Business Intelligence, Analytics y Big Data, con una nota de 20/20"
            logo="/assets/image/uni-icon.png"
            skils={["SQL", "Python", "PowerBI", "Java"]}
          />
        </div>
      </div>
    </div>
    <div
      class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-10 h-2"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="w-10 h-2"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
    </div>
    <button type="button" class="carousel-button-prev group" data-carousel-prev>
      <span class="carousel-button-container">
        <svg
          class="carousel-button"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="carousel-button-next group" data-carousel-next>
      <span class="carousel-button-container">
        <svg
          class="carousel-button"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</section>
<script>
  import { initFlowbite } from "flowbite";
</script>
