---
import ModelAcademy from "./model/ModelAcademy.astro";
import "../styles/basic.css";
---

<section>
  <h3 class="section-title">Formacion Academica</h3>
  <div id="indicators-carousel" class="relative w-full" data-carousel="static">
    <div class="relative h-48 overflow-hidden rounded-lg">
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <div class="grid grid-cols-2 gap-x-6 mb-6 mx-6">
          <ModelAcademy
            title="Diplomado en Business Intelligence, Analytics y Big Data"
            subtitle="Universidad Nacional de Ingenieria (2022)"
            tags="Nota Maxima"
            message=""
            logo="./assets/image/uni-icon.png"
            skils={["SQL", "Python", "PowerBI", "Scrum"]}
          />
          <ModelAcademy
            title="Bachiller en Ingenieria Industrial"
            subtitle="Universidad Nacional Mayor de San Marcos (2017 - 2022)"
            tags="Quinto Puesto"
            message=""
            logo="./assets/image/unmsm-icon.png"
            skils={["SQL", "Java", "C++"]}
          />
        </div>
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="grid grid-cols-2 gap-x-6 mb-6 mx-6">
          <ModelAcademy
            title="Especializacion Full Stack ( Angular - SpringBoot )"
            subtitle="Galaxy Training (2023)"
            tags="Diploma de Excelencia"
            message=""
            logo=""
            skils={["Angular", "SpringBoot"]}
          />
          <ModelAcademy
            title="Bootcamp Front-End Developer"
            subtitle="Oracle Next Education (2023)"
            tags="En Curso"
            message=""
            logo=""
            skils={["React"]}
          />
        </div>
      </div>
    </div>
    <div
      class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-10 h-2"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        type="button"
        class="w-10 h-2"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
    </div>
    <button type="button" class="carousel-button-prev group" data-carousel-prev>
      <span class="carousel-button-container">
        <svg
          class="carousel-button"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="carousel-button-next group" data-carousel-next>
      <span class="carousel-button-container">
        <svg
          class="carousel-button"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</section>
<script>
  import { initFlowbite } from "flowbite";
</script>
