<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl py-2 px-4 sm:p-4 flex items-center justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2023
      <a href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/" 
      target="_blank"
      class="hover:underline">luis122448</a>
      <!-- <p class="hidden sm:block">Todos los Derechos Reservados</p> -->
    </span>
    <ul
      class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 mt-0"
    >
      <li class="my-auto">
        <a
          href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
          target="_blank"
          class="mr-4 hover:underline md:mr-6">Linkedin</a
        >
      </li>
      <li class="my-auto">
        <a
          href="https://wa.me/51939232327?text=Hola"
          target="_blank"
          class="mr-4 hover:underline md:mr-6">WhatsApp</a
        >
      </li>
      <li class="my-auto">
        <a
          href="https://t.me/luis122448"
          target="_blank"
          class="hover:underline">Telegram</a
        >
      </li>
    </ul>
  </div>
</footer>
