<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center">
      <p
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
      >
        &lt;luis122448.&nbsp;<span class="text-cyan-500">dev</span>/&gt;
      </p>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-8 ju8ify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Home</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="/my-landing-page/"
            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
            aria-current="page">Sobre mi</a
          >
        </li>
        <li>
          <a
            href="/my-landing-page/experience"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Experiencia</a
          >
        </li>
        <li>
          <a
            href="/my-landing-page/project"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Proyectos</a
          >
        </li>
        <li>
          <a
            href="/my-landing-page/certification"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Certificaciones</a
          >
        </li>
        <li>
          <a
            href="/my-landing-page/contact"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<button
  id="toggleButton"
  class="fixed top-4 right-4 p-2 rounded-full bg-gray-300 dark:bg-gray-700"
>
  <i class="fas fa-sun text-yellow-500 dark:text-gray-300"></i>
  <i class="fas fa-moon text-gray-700 dark:text-yellow-400"></i>
</button>
<script>
  // DOMContentLoaded event listener
  document.addEventListener("DOMContentLoaded", function () {
    // Verificar el modo del usuario y aplicarlo por defecto
    const userPrefersDark =
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches;

    function setDarkModePreference(darkMode: boolean) {
      if (darkMode) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    }

    // Método para cambiar el modo mediante el botón toggle
    function toggleDarkMode() {
      const isDarkMode = document.documentElement.classList.contains("dark");
      setDarkModePreference(!isDarkMode);
    }

    // Evento para cambiar el modo cuando el botón toggle se presiona
    const toggleButton = document.querySelector("#toggleButton");
    if (toggleButton) {
      toggleButton.addEventListener("click", toggleDarkMode);
    }

    // Aplicar el modo del usuario por defecto
    setDarkModePreference(userPrefersDark);
  });
</script>
