---
import "../styles/basic.css";
import StackTech from "../utils/StackTech.astro";
---

<section
  class="flex flex-col justify-center items-center space-y-4 sm:grid sm:grid-cols-4 sm:gap-x-6 mr-3"
>
  <article class="sm:col-span-1 space-y-2 mx-auto">
    <img
      src="/assets/images/foto.webp"
      alt="luis-antonio-calvo-quispe"
      class="my-auto px-2 py-4 w-48 h-48 rounded-full"
      height="48"
      width="48"
    />
    <div
      class="mx-auto pt-2 text-slate-800 dark:text-gray-200 flex justify-center space-x-4"
    >
      <a
        href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
      <a href="https://github.com/luis122448" target="_blank">
        <i class="fa-brands fa-square-github fa-2xl"></i>
      </a>
      <a href="https://t.me/luis122448" target="_blank">
        <i class="fa-brands fa-telegram fa-2xl"></i>
      </a>
    </div>
  </article>
  <article class="sm:col-span-3 flex-col justify-center space-y-2 mx-2 sm:mx-0">
    <h1 class="text-xl font-bold text-slate-800 dark:text-gray-400">
      Hola, soy <span class="text-cyan-600">Luis Antonio Calvo Quispe</span>
    </h1>
    <h4 class="basic-title">
      Jr. Full Stack Developer | Bachiller en Ingenieria Industrial
    </h4>
    <div class="basic-text">
      Ingenierio Industrial con 2 años de experiencia en el desarrollo de
      Aplicaciones Web <span class="resalt-text">(Java y Angular)</span> y
      Administración de Base de Datos <span class="resalt-text"
        >(Oracle, MySQL, PostgreSQL y Interbase)</span
      >.<br />
      Desarrollo de soluciones ETL, para
      transformación,  migración y analítica de datos con <span class="resalt-text">Python y FastAPI</span>.<br />
      Despliegue aplicaciones con Docker y Docker-Compose en servicodores
      Cloud de <span class="resalt-text">Oracle, AWS (EC2, S3) y Railway</span>.
    </div>
    <div class="flex flex-col space-y-4 items-start sm:grid sm:grid-cols-3">
      <div class="sm:col-span-2 flex space-x-3">
        <p class="basic-title-list">Stack :</p>
        <StackTech
          tags={[
            "angular",
            "springio",
            "python",
            "postgresql",
            "docker",
            "oracle",
            "aws",
          ]}
        />
      </div>
      <div class="sm:col-span-1 flex justify-center">
        <button type="button" class="basic-button-blue" id="downloadCV">
          <div class="basic-icon-container">
            <i class="fa-solid fa-download fa-lg basic-icon"></i>
          </div>
          <p class="m-auto font-semibold">Descagar CV</p>
        </button>
      </div>
    </div>
  </article>
</section>
<script>
  document.getElementById("downloadCV")?.addEventListener("click", () => {
    var rute = "./assets/pdf/CV-LuisAntonioCalvoQuispe-Software.pdf";
    var link = document.createElement("a");
    link.href = rute;
    link.download = "SF-LuisAntonioCalvoQuispe-Software.pdf";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  });
</script>
