---
import "../styles/basic.css";
import StackTech from "../utils/StackTech.astro";
---

<section
  class="flex-col justify-center items-center sm:grid sm:grid-cols-4 sm:gap-x-6 mx-auto mt-4"
>
  <article class="sm:col-span-1 space-y-2 mx-auto">
    <img
      src="/assets/image/foto.jpg"
      alt="luis-antonio-calvo-quispe"
      class="px-2 py-4 w-48 h-48 rounded-full"
      height="48"
      width="48"
    />
    <div
      class="mx-auto pt-2 text-slate-800 dark:text-gray-400 flex justify-center space-x-4"
    >
      <a
        href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
      <a href="https://github.com/luis122448" target="_blank">
        <i class="fa-brands fa-square-github fa-2xl"></i>
      </a>
      <a href="https://t.me/luis122448" target="_blank">
        <i class="fa-brands fa-telegram fa-2xl"></i>
      </a>
    </div>
  </article>
  <article class="sm:col-span-3 flex-col justify-center space-y-2 mx-4">
    <h1 class="text-xl font-bold text-slate-800 dark:text-gray-400">
      Hola, soy <span class="text-cyan-600">Luis Antonio Calvo Quispe</span>
    </h1>
    <h4 class="basic-title">
      Full Stack Developer | Bachiller en Ingenieria Industrial
    </h4>
    <div class="basic-text">
      Bachiller en Ingenieria Industrial especializado como Full Stack Developer
      ( <span class="resalt-text">Java - Angular</span> ) con dos años de experiencia como desarrollador y
      administrador de base de datos relacionales ( <span class="resalt-text">Oracle, PostgresSQL y MySQL</span>
      ) y desarrollo de servicios web con <span class="resalt-text">Python - FastAPI</span><br />
      Experiencia en despliege de aplicaciones con Docker en servicios cloud de AWS
      ( <span class="resalt-text">EC2, S3</span> ) y Railway
    </div>
    <div class="grid grid-cols-3">
      <div class="col-span-2 flex space-x-3">
        <p class="basic-title-list">Stack :</p>
        <StackTech tags={['postgresql','redis','mongodb','springio','angular','docker']}></StackTech>
      </div>
      <div class="col-span-1 flex justify-center">
        <button type="button" class="basic-button-blue" id="downloadCV">
          <div class="basic-icon-container">
            <i class="fa-solid fa-download fa-lg basic-icon"></i>
          </div>
          <p class="m-auto font-semibold">Descagar CV</p>
        </button>
      </div>
    </div>
  </article>
</section>
<script>
  document.getElementById("downloadCV")?.addEventListener("click", () => {
    var rute = "./assets/pdf/CV-LuisAntonioCalvoQuispe-Software.pdf";
    var link = document.createElement("a");
    link.href = rute;
    link.download = "CV-LuisAntonioCalvoQuispe-Software.pdf";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  });
</script>
