<section
  class="flex-col justify-center items-center md:grid md:grid-cols-4 md:gap-x-6 mx-auto"
>
  <div class="md:col-span-1 space-y-2 mx-auto">
    <img
      src="/assets/image/foto.jpg"
      alt=""
      class="p-2 w-48 h-48 rounded-full"
    />
    <div
      class="mx-auto pt-2 text-slate-800 dark:text-gray-400 flex justify-center space-x-4"
    >
      <a
        href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
      <a href="https://github.com/luis122448" target="_blank">
        <i class="fa-brands fa-square-github fa-2xl"></i>
      </a>
      <a href="https://t.me/luis122448" target="_blank">
        <i class="fa-brands fa-telegram fa-2xl"></i>
      </a>
    </div>
  </div>
  <div class="md:col-span-3 flex-col justify-center space-y-2">
    <h1 class="text-xl font-bold text-slate-800 dark:text-gray-400">
      Hola, soy <span class="text-cyan-600">Luis Antonio Calvo Quispe</span>
    </h1>
    <h4 class="text-lg font-semibold text-slate-800 dark:text-gray-400">
      Full Stack Developer | Bachiller en Ingenieria Industrial
    </h4>
    <div>
      Bachiller en Ingenieria Industrial especializado como Full Stack Developer
      ( Java - Angular ) con dos año te experiencia como desarrollador y
      administrador de base de datos relacionales ( Oracle, PostgresSQL y MySQL
      ) y apasionado en la implementacion de soluciones inteligentes utilziando
      IA
    </div>
    <d class="grid grid-cols-2">
      <div class="flex justify-center">
        <p class="font-semibold">Stack Tecnologico :</p>
        <div class="w-[200px] pl-6">
          <ol
            class="col-span-2 md:col-span-1 flex h-full w-full items-center justify-center"
          >
            <li
              class="flex w-full items-center after:inline-block after:h-1 after:w-full after:border-4 after:border-b after:border-gray-100 after:content-[''] dark:after:border-gray-700"
            >
              <span
                class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700"
              >
                <div class="h-8 w-8 relative">
                  <img
                    src="./assets/svg/oracle-icon.svg"
                    alt=""
                    width="65%"
                    height="65%"
                    class="absolute top-0 left-0 rounded-full"
                  />
                  <img
                    src="./assets/svg/postgresql-icon.svg"
                    alt=""
                    width="65%"
                    height="65%"
                    class="absolute bottom-0 right-0"
                  />
                </div>
              </span>
            </li>
            <li
              class="flex w-full items-center after:inline-block after:h-1 after:w-full after:border-4 after:border-b after:border-gray-100 after:content-[''] dark:after:border-gray-700"
            >
              <span
                class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700"
              >
                <div class="h-8 w-8 relative">
                  <img
                    src="./assets/svg/springio-icon.svg"
                    alt=""
                    width="65%"
                    height="65%"
                    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                  />
                </div>
              </span>
            </li>
            <li class="flex w-full items-center">
              <span
                class="flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-gray-100 dark:bg-gray-700"
              >
                <div class="h-8 w-8 absolute">
                  <img
                    src="./assets/svg/tailwindcss-icon.svg"
                    alt=""
                    width="65%"
                    height="65%"
                    class="absolute top-0 left-0"
                  />
                  <img
                    src="./assets/svg/angular-icon.svg"
                    alt=""
                    width="65%"
                    height="65%"
                    class="absolute bottom-0 right-0"
                  />
                </div>
              </span>
            </li>
          </ol>
        </div>
      </div>
      <div class="flex justify-center">
        <button
          type="button"
          class="w-[150px] flex justify-center bg-sky-700 hover:bg-sky-800 focus:ring-sky-300 text-white space-x-2 rounded px-5 py-2 text-sm font-medium"
        >
          <div class="relative my-auto w-[12px] h-[12px]">
            <i
              class="fa-solid fa-download fa-lg absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
            ></i>
          </div>
          <p>Descagar CV</p>
        </button>
      </div>
    </d>
  </div>
</section>
