---
import "../styles/basic.css";
import Carousel from "./model/Carousel.astro";
import StackTech from "../utils/StackTech.astro";

interface Props {
  isOpen: boolean;
}

const { isOpen } = Astro.props;

const urlImagesSmartShell = [
  "./../../public/assets/project/smart-shell/1.jpg",
  "./../../public/assets/project/smart-shell/2.jpg",
  "./../../public/assets/project/smart-shell/3.jpg",
  "./../../public/assets/project/smart-shell/4.jpg",
  "./../../public/assets/project/smart-shell/5.jpg",
];

const urlImagesProLearnTracker = [
  "./../../public/assets/project/smart-shell/1.jpg",
  "./../../public/assets/project/smart-shell/2.jpg",
  "./../../public/assets/project/smart-shell/3.jpg",
  "./../../public/assets/project/smart-shell/4.jpg",
  "./../../public/assets/project/smart-shell/5.jpg",
];
---
<section class=`${isOpen ? 'body-container' : ''}`>
  <h3 class="section-title">Proyectos y Experiencia Academica</h3>
  <section class="bg-white dark:bg-gray-900">
    <article class="grid grid-cols-2 gap-x-4 h-12 mx-6">
      <div class="col-span-1">
        <h2 class="project-title">Sistema de Facturación Online<br><span class="text-cyan-600">Smart Shell</span></h2>
      </div>
      <div class="col-span-1 p-4 flex justify-end">
        <StackTech tags={['postgresql','redis','mongodb','springio','angular','docker']}></StackTech>
      </div>
    </article>
    <article class="project-container">
      <Carousel urlImages={urlImagesSmartShell} />
      <div class="mt-4 md:mt-0">
        <ul
          class="basic-text list-none md:list-disc list-outside"
        >
          <li>Emisión, configuracion e impresión de comprobantes electrónicos</li>
          <li>Mantenimiento de artículos, clientes, vendedores y tipo de cambio</li>
          <li>
            Importación y exportación masiva de articulos y lista de precios
          </li>
          <li>Carga y control de subida de archivos adjuntos</li>
          <li>
            Authentication y autorización de usuarios con roles y permisos
          </li>
        </ul>
        <a
          href="https://smart-shell.luis122448.com"
          class="basic-button-blue"
          target="_blank"
        >
          <p class="m-auto font-semibold">Ver Proyecto</p>
          <div class="basic-icon-container">
            <i class="fa-solid fa-up-right-from-square basic-icon"></i>
          </div>
        </a>
      </div>
    </article>
  </section>
  <section class="bg-white dark:bg-gray-900">
    <article class="grid grid-cols-2 gap-x-4 h-16 mx-6">
      <div class="col-span-1">
        <h2 class="project-title">Sistema de Seguimiento y Capacitacion del Personal<br><span class="text-cyan-600">Pro Learn Tracker</span></h2>
      </div>
      <div class="col-span-1 p-4 flex justify-end">
        <StackTech tags={['mysql','springio','angular','docker']}></StackTech>
      </div>
    </article>
    <article class="project-container">
      <Carousel urlImages={urlImagesProLearnTracker} />
      <div class="mt-4 md:mt-0">
        <ul
          class="basic-text list-none md:list-disc list-outside"
        >
          <li>Implementacion de modulos, cursos y clases personalizable por usuario</li>
          <li>Seguimiento y control de la asistencia y participacion</li>
          <li>Examenes, Quiz y control de evaluacion</li>
          <li>Sistema de certificacion y verificacion</li>
        </ul>
        <a
          href="https://smart-shell.luis122448.com"
          class="basic-button-blue"
          target="_blank"
        >
          <p class="m-auto font-semibold">Proyecto en Construccion</p>
          <div class="basic-icon-container">
            <i class="fa-solid fa-up-right-from-square basic-icon"></i>
          </div>
        </a>
      </div>
    </article>
  </section>
</section>
