---
import "../styles/basic.css";
import Carousel from "./model/Carousel.astro";

interface Props {
  isOpen: boolean;
}

const { isOpen } = Astro.props;
---

<section>
  <h3 class="section-title">Proyectos y Experiencia Academica</h3>
  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <!-- <img
        class="w-full hidden dark:block"
        src="./../../public/assets/project/smart-shell-image.jpg"
        alt="dashboard image"
      /> -->
      <Carousel urlImages={["./../../public/assets/project/smart-shell-image.jpg","https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"]} />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Sistema de Facturación Online
        </h2>
        <ul
          class="mb-6 max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
        >
          <li>Emisión e impresión de comprobantes electrónicos</li>
          <li>Mantenimiento simple de artículos, clientes, …</li>
          <li>
            Importación y exportación masiva de información (Lista de Precios)
          </li>
          <li>Cargar y control de subida de archivos (Archivos Adjuntos)</li>
          <li>
            Sistema de autenticación (JWT), manejo de memoria Cache (Redis) y
            Local Storage.
          </li>
        </ul>
        <a
          href="https://smart-shell.luis122448.com"
          class="basic-button-blue"
          target="_blank"
        >
          <p class="m-auto font-semibold">Ver Proyecto</p>
          <div class="basic-icon-container">
            <i class="fa-solid fa-download fa-lg basic-icon"></i>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="bg-white dark:bg-gray-900">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img
        class="w-full dark:hidden"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg"
        alt="dashboard image"
      />
      <img
        class="w-full hidden dark:block"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
        alt="dashboard image"
      />
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Sistema de Seguimiento y Capacitacion del Personal
        </h2>
        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
          "Potencia tu equipo con nuestro Sistema de Seguimiento y Capacitación
          del Personal. Mejora habilidades, realiza seguimientos efectivos y
          fomenta un crecimiento profesional continuo. Impulsa el éxito de tu
          empresa con un personal más capacitado y comprometido."
        </p>
        <a
        href="https://smart-shell.luis122448.com"
        class="basic-button-blue"
        target="_blank"
      >
        <p class="m-auto font-semibold">Proyecto en Construccion</p>
        <div class="basic-icon-container">
          <i class="fa-solid fa-download fa-lg basic-icon"></i>
        </div>
      </a>
      </div>
    </div>
  </section>
</section>
