---
import "../styles/basic.css";

interface Props{
  isOpen: boolean;
}

const { isOpen } = Astro.props;
---
<section class=`${isOpen ? 'body-container' : ''}`>
  <h3 class="section-title">Experiencia Laboral</h3>
  <ol class="border-default">
    <li class="mb-10 ml-6">
      <article class="grid-container">
        <div class="col-span-1">
          <img
            src="/assets/logo/grupo-tsi-logo.jpg"
            alt="Grupo TSI SAC"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col-span-1 flex flex-col">
          <h3 class="basic-title">
            Grupo TSI SAC<span class="basic-tag-blue ml-2">Trabajo Actual</span>
          </h3>
          <time class="basic-sub-title">Jornada completa 1 año y 9 meses</time>
          <ol class="relative border-s border-default">
            <li class="mb-10 ms-4">
              <div class="basic-circle-list"></div>
              <h3 class="basic-title-list">DBA de Applicationes Oracle</h3>
              <time class="basic-sub-title-list">Mayo 2023 - Hoy</time>
              <p class="basic-text-list">
                • Migración de BASE DE DATOS (Interbase - Oracle)<br />
                • Diseño e Implementación de ETL (Oracle – MySQL Y Oracle
                - Oracle) con PYTHON y FASTAPI.<br />
                • Implementación de Reportes o Dashboard (Comercial, Cobranza y Contable)
                con Oracle Analytics.<br />
                • Despliegue y automatización de proceso con Docker y Docker Compose.<br
                />
              </p>
              <p class="basic-container-tag">
                <span class="basic-tag-indigo">Oracle Cloud</span>
                <span class="basic-tag-indigo">Oracle Analytics</span>
                <span class="basic-tag-indigo">ETL</span>
                <span class="basic-tag-indigo">Docker</span>
                <span class="basic-tag-indigo">Python</span>
                <span class="basic-tag-indigo">FAST API</span>
              </p>
            </li>
            <li class="ms-4">
              <div class="basic-circle-list"></div>
              <h3 class="basic-title-list">
                Programador PL/SQL y Analista de Datos
              </h3>
              <time class="basic-sub-title-list">Mayo 2022 - Mayo 2023</time>
              <p class="basic-text-list">
                • Analista y Programador de Base de Datos - PL/SQL.<br />
                • Programación y Exportación de Reportes.<br />
                • Análisis y Optimización de Querys.<br />
                • Limpieza y Transformación de Datos.<br />
              </p>
              <p class="basic-container-tag">
                <span class="basic-tag-indigo">PL/SQL</span>
                <span class="basic-tag-indigo">Optimizacion Query</span>
              </p>
            </li>
          </ol>
        </div>
      </article>
    </li>
  </ol>
</section>
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 16px;
  }
</style>
